*.DS_Store
*.orig
*/bin/*
*.class
*/jar/*
urbanairship-lib-*.jar
*.pyc
gen/
build.properties
.settings/
airshipconfig.properties
local.properties
location.properties
local.properties
proguard/
*.swo
*.swp
reports/
*.iml
tools/test.json
target/
AndroidAutomatorUtils.jar
.idea/
.gradle
deploy/
docs/doclava-build
build/