<manifest
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>

        <!-- ADM -->
        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false" />

        <service
            android:name="com.urbanairship.push.adm.AdmHandlerJobBase"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service
            android:name="com.urbanairship.push.adm.AdmHandlerBase"
            android:exported="false" />

        <receiver
            android:name="com.urbanairship.push.adm.AdmPushReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND"
            android:exported="true">

            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>