<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <activity
            android:name="com.urbanairship.iam.adapter.html.HtmlActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppHtml.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.adapter.fullscreen.FullscreenActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppFullscreen.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.adapter.modal.ModalActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppModal.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

    </application>
</manifest>