<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <activity
            android:name="com.urbanairship.iam.html.HtmlActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppHtml.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.fullscreen.FullScreenActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppFullscreen.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.modal.ModalActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppModal.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <receiver android:name="com.urbanairship.automation.alarms.AlarmOperationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.automation.alarms.ALARM_FIRED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>