<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbanairship"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name="com.urbanairship.iam.html.HtmlActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppHtml.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.fullscreen.FullScreenActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppFullscreen.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.iam.modal.ModalActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.InAppModal.Activity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.push.NotificationProxyActivity"
            android:taskAffinity="com.urbanairship.push.NotificationProxyActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name="com.urbanairship.messagecenter.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.urbanairship.messagecenter.MessageCenterActivity"
            android:exported="false"
            android:label="@string/ua_message_center_title" />

        <activity
            android:name="com.urbanairship.util.HelperActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.HelperActivity">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.google.PlayServicesErrorActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.actions.RateAppActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.RateAppActivity">

            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_RATE_APP_INTENT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.urbanairship.ChannelCaptureActivity"
            android:exported="false">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>


        <service android:name="com.urbanairship.job.AirshipService" />

        <receiver
            android:name="com.urbanairship.location.LocationReceiver"
            android:exported="false" />

        <service
            android:name="com.urbanairship.job.AndroidJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.urbanairship.push.NotificationProxyReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.urbanairship.locale.LocaleChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:exported="false" />

    </application>
</manifest>
