<manifest
    package="com.urbanairship"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="${applicationId}.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.UA_DATA" />
    <application>

        <activity android:name="com.urbanairship.iam.html.HtmlActivity" />
        <activity android:name="com.urbanairship.iam.fullscreen.FullScreenActivity" />
        <activity android:name="com.urbanairship.iam.modal.ModalActivity" android:theme="@style/UrbanAirship.InAppModal.Activity"/>


        <activity android:name="com.urbanairship.CoreActivity" />

        <activity android:name="com.urbanairship.messagecenter.MessageActivity" />
        <activity android:name="com.urbanairship.messagecenter.MessageCenterActivity" android:label="@string/ua_message_center_title" />

        <activity android:name="com.urbanairship.util.HelperActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity android:name="com.urbanairship.google.PlayServicesErrorActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
        </activity>

        <activity
            android:name="com.urbanairship.actions.RateAppActivity"
            android:theme="@style/UrbanAirship.RateAppActivity">
            
            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />
            
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_RATE_APP_INTENT_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:exported="false"
            android:theme="@style/UrbanAirship.LandingPageActivity">

            <meta-data
                android:name="com.urbanairship.action.LANDING_PAGE_VIEW"
                android:resource="@layout/ua_activity_landing_page"/>

            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="message"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name="com.urbanairship.ChannelCaptureActivity"/>


        <service android:name="com.urbanairship.job.AirshipService" />
        <service android:name="com.urbanairship.actions.ActionService" />
        <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service" />
        <service android:name="com.urbanairship.push.PushService" />


        <service android:name="com.urbanairship.job.AndroidJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE" />


        <receiver android:name="com.urbanairship.CoreReceiver"
                  android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:permission="${applicationId}.permission.UA_DATA"
            android:exported="true" />

    </application>
</manifest>
