<manifest
    package="com.urbanairship"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="${applicationId}.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.UA_DATA" />

    <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- ADM -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />

    <application>

        <!-- ADM -->
        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false" />

        <activity android:name="com.urbanairship.util.HelperActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.urbanairship.CoreActivity" />
        <activity android:name="com.urbanairship.google.PlayServicesErrorActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="com.urbanairship.messagecenter.MessageActivity" />
        <activity android:name="com.urbanairship.messagecenter.MessageCenterActivity" android:label="@string/ua_message_center_title" />


        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:exported="false"
            android:theme="@style/LandingPageStyle">

            <meta-data
                android:name="com.urbanairship.action.LANDING_PAGE_VIEW"
                android:resource="@layout/ua_activity_landing_page"/>

            <meta-data
                android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="message"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.urbanairship.ChannelCaptureActivity"/>


        <service android:name="com.urbanairship.job.AirshipService" />
        <service android:name="com.urbanairship.actions.ActionService" />
        <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service" />
        <service android:name="com.urbanairship.push.PushService" />

        <service android:name="com.urbanairship.job.AirshipGcmTaskService"
                 android:exported="true"
                 android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <service android:name="com.urbanairship.job.AndroidJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.urbanairship.push.UAInstanceIDListenerService"
            android:exported="false">

            <intent-filter android:priority="-999">
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <receiver android:name="com.urbanairship.CoreReceiver"
                  android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.urbanairship.push.GcmPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter android:priority="-999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.urbanairship.push.AdmPushReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND">

            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:permission="${applicationId}.permission.UA_DATA"
            android:exported="true" />

    </application>
</manifest>
