<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbanairship.debug"
    android:versionCode="1"
    android:versionName="1.0">

    <application>

        <activity
            android:name="com.urbanairship.debug.DebugActivity"
            android:label="@string/ua_debug_short_title"
            android:theme="@style/AirshipDebug"
            android:taskAffinity="com.urbanairship.debug.${applicationId}">

            <intent-filter android:priority="-100">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
