name: Publish Docs

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version:
        description: 'The tag to publish'
        required: true
        type: string

  workflow_call:
    inputs:
      version:
        description: 'The tag to publish'
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        description: 'The GCP service account key'
        required: true

jobs:
  prepare-docs:
    uses: ./.github/workflows/prepare-docs.yml
    with:
      version: ${{ inputs.version }}

  upload-docs:
    if: github.repository == 'urbanairship/android-library'
    runs-on: ubuntu-latest
    needs: prepare-docs
    steps:
      # Docs should already be built and uploaded at this point, but we still need
      # this step in order for google-github-actions/auth to work in upload step.
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: refs/tags/${{ inputs.version }}

      - name: Download prepared docs
        uses: actions/download-artifact@v4
        with:
          name: packaged-docs-${{ inputs.version }}
          path: build/docs

      - name: Setup GCP Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # Install gcloud, `setup-gcloud` automatically picks up authentication from `auth`.
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Upload docs
        env:
          VERSION: ${{ inputs.version }}
        run: |
          set -euo pipefail
          gsutil cp "build/docs/${VERSION}-kdoc.tar.gz" \
            "gs://ua-web-ci-prod-docs-transfer/libraries/android-kotlin/${VERSION}.tar.gz"